<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ArticleCard — Хабр Курсы</title>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="../../../ui/courses.css">
  <style>html,body{margin:0;background:#fff}body{box-sizing:border-box;padding:24px}.example-root{max-width:260px}</style>
</head>
<body data-preview-layout="viewport"><div class="example-root"><div class="relative box-border h-full overflow-hidden rounded-3xl border border-ui-black-100"><div class="aspect-video w-full rounded-t-lg bg-cover bg-center" style="background-image: url(&quot;https://habrastorage.org/getpro/habr/upload_files/fd0/9e8/50f/fd09e850fb64cdaee473482facb34b89.png&quot;);"></div><div class="flex flex-col gap-2 p-6 pt-5 text-small"><div><span>Статья</span><span class="inline-separator inline-separator"> • </span><span class="text-ui-black-500">28 августа</span></div><div class="line-clamp-2 whitespace-normal break-words text-h4 font-semibold">Сколько зарабатывают разработчики в 2026&nbsp;году и куда пойти учиться</div></div><a href="https://habr.com/ru/companies/habr_career/articles/1075936/" rel="noopener noreferrer nofollow" target="_blank" class="z-2 absolute bottom-0 left-0 right-0 top-0"></a></div></div></body>
</html>
